<script defer src="/js/home.js"></script>
<link rel="stylesheet" href="/css/home.css">
<header>
    {{>header}}
</header>

<div class="container mt-3 mb-3" style="min-width: 96%;">
    <h1>Top Rating Movies</h1>
    <div class="d-flex justify-content-center">
        <div  id="dataHere" style="width: 647.75px;"></div>
    </div>
    <h1>All Movies</h1>
    <div>

        <div class="cards" id="cards">
            
                
        </div>

        <ul class="pagination" id="pagination">
            
        </ul>
    </div>
</div>

<footer>
    {{>footer}}
</footer>